.post {
  margin: 10px;
  padding: 10px;
  display: block;
}
.example-header-image {
  margin: 8px;
}

.posicion {
  margin-left: 30px;
}
button {
  margin-left: 20px;
  margin-right: 30px;
}
.example-button-row {
  margin-left: 500px;
}
.categoria {
  background-color: #ffff;

  text-align: center;
}
.cat {
  text-align: center;
  width: 100%;
}
