<mat-toolbar class="toolbar" color="accent">
  <div>Blog <mat-icon matSuffix>emoji_nature</mat-icon></div>
  <div class="example-button-row">
    <a mat-fab (click)="handelClickAPI($event)">API</a>
  </div>
  <div class="example-button-row">
    <a mat-fab (click)="handelClickAll($event)">All</a>
  </div>
  <div>
    <a mat-fab (click)="handelClick($event)">New</a>
  </div>
  <div>
    <button mat-fab color="warn" (click)="handelClickHome($event)">
      <mat-icon matSuffix>home_work</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="control">
  <router-outlet></router-outlet>
</div>
