.home {
  display: flex;
  justify-content: space-between;
}

div {
  width: 300px;
  color: white;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
p {
  text-align: center;
}
button:focus {
  outline: none;
}

.custom-style {
  background-color: transparent;
  opacity: 1;
}
.custom {
  margin-left: 20px;
}
button {
  margin-left: 40px;
}
.icon {
  margin-right: 6px;
}
.search {
  margin-left: 70px;
  color: black;
}

@media (min-width: 576px) {
}
h4 {
  color: black;
}
